:root {
  --dark-blue: rgb(44, 62, 80);
  --green-water: rgb(26, 188, 156);
  --medium-blue: rgb(58, 84, 109);
}

header {
  background-color: var(--dark-blue);
  height: 90px;
}

footer {
  background-color: var(--medium-blue);
}

h1 {
  font-size: 40px;
  padding: 30px 0;
}

h2 {
  font-weight: 600;
  font-size: 25px;
}



.line {
  width: 7rem;
  height: 3.5px;
}

.bi-star-fill {
  padding: 0 2%;
  font-size: 30px;
}

.jumbotron {
  background-color: var(--green-water);
}

.jumbotron img {
  height: 250px;
}

.jumbotron .skills {
  padding-top: 25px;
}

.about {
  background-color: var(--green-water);
}

.about p {
  font-weight: 600;
}

.sc-form .form-control{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
}

footer .container-fluid {
  background-color: var(--dark-blue);
}

.btn-info {
  background-color: var(--green-water);
  border-color: var(--green-water);
}

.footer-top span {
  font-weight: 600;
  font-size: 20px;
}


@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }
}