:root {
  --dark-blue: rgb(44, 62, 80);
  --green-water: rgb(26, 188, 156);
  --medium-blue: rgb(58, 84, 109);
}

.line {
  width: 10rem;
  height: 3px;
}

.bi-star-fill {
  padding: 0 2%;
}

header {
  background-color: var(--dark-blue);
  height: 90px;
}

.jumbotron {
  background-color: var(--green-water);
}

.jumbotron img {
  height: 250px;
}

.about {
  background-color: var(--green-water);
}

.sc-form .form-control{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
}

footer {
  background-color: var(--medium-blue);
}

footer .container-fluid {
  background-color: var(--dark-blue);
}